@import "variables";
@import "theme/moFLow";

.group {
}

.group + .group {
  margin-top: 10px;
}

.groupLabel {
  font-size: 1.2em;
  color: $color-primary;
}

.groupBox {
  margin-top: 5px;
}


.textarea {
  word-break: break-all !important;
  word-wrap: break-word !important;
}