$bar-height: 30px;

.panel {
  height: 30px;
  overflow: hidden;
}

.panel.isExpand {
  transition: height 0.23s ease-out;
  height: 100%;
  .titleLeft {
    transform: rotate(45deg);
  }
}

.titleBar {
  user-select: none;
  height: $bar-height;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content {
  height: calc(100% - #{$bar-height});
  overflow-y: auto;
}

.titleLeft {
  padding: 0 5px;
  transition: transform 0.2s ease;
  flex: 0 0 auto;
}

.titleRight {
  padding: 0 10px;
  text-align: right;
  flex: 1 0 auto;
}
