@import "variables";
@import "theme/moFLow";

.titleBar {
  -webkit-app-region: drag;
  height: $title-bar-height;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  background-color: #f0f0ee;
  align-items: center;

  & > :global(*) {
    -webkit-app-region: no-drag;
  }
}

.controls {
  flex: 0 0 66px;
}

.content {
  flex: 0 0 auto;
}
